@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@import "./index.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: linear-gradient(
		to bottom,
		rgba(148, 226, 191, 0.4),
		rgba(241, 255, 249, 0.1),
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		rgba(241, 255, 249, 0.1),
		rgba(148, 226, 191, 0.3)
	);
	@include font(400, 16px, 16px);
	color: $main-text-color;

	h2 {
		@include font(600, 48px, 57px);
		color: $sub-text-color;
	}
}

a {
	color: $link-text-color;

	&:hover,
	&:active {
		background-color: $light-color;
	}
}
