@import "../../style/index.scss";

.section {
	margin-top: 320px;

	h2 {
		text-align: center;
	}

	@include mobile-screen {
		margin-top: 15rem;
	}
}

.project-wrap {
	margin-top: 7.5rem;
	@include flex-container(column, center, center);
}

.project {
	@include flex-container(row);
	gap: 20rem;
	position: relative;
	width: 1457px;
	&:not(:last-child) {
		margin-bottom: 280px;
	}

	@include tablet-screen {
		@include flex-container(row, flex-start, center);
		width: 710px;

		&:not(:last-child) {
			margin-bottom: 140px;
		}
	}

	@include mobile-screen {
		@include flex-container(row, center, center);
		width: fit-content;

		&:not(:last-child) {
			margin-bottom: 160px;
		}
	}
}
.left-wrap,
.right-wrap {
	position: relative;
}

.left-wrap {
	@include flex-container(column);
	gap: 77.5px;

	@include mobile-screen {
		@include flex-container(row, center, center);
		gap: 0.9375rem;
	}
}

.right-wrap {
	position: absolute;
	top: 111px;
	left: 60%;

	@include tablet-screen {
		visibility: hidden;
	}

	@include mobile-screen {
		visibility: hidden;
	}
}
