@import "../../style/index.scss";

.article {
	@include mobile-screen {
		word-wrap: break-word;
		text-align: center;
	}
}

.number {
	@include font(600, 32px, 38px);
	color: $sub-text-color;
}

.title {
	@include font(700, 32px, 38px);
	color: $sub-text-color;
	margin: 3.8037rem 0 0.625rem;
}

.script {
	@include font(400, 18px);
	margin-bottom: 1.125rem;
}

.date {
	@include flex-container(row, flex-start, center);
	margin-bottom: 1.4375rem;
	span {
		@include font(500, 16px);
		color: $light-text-color;
		margin-left: 0.5rem;
	}
	@include mobile-screen {
		@include flex-container(row, center, center);
	}
}

.link-group {
	margin: 3.25rem 0 77.5px;
	@include flex-container(row, flex-start, center);
	gap: 0.875rem;

	@include mobile-screen {
		@include flex-container(row, center, center);
	}
}

.stack-group {
	@include flex-container(row, flex-start, center);
	gap: 0.5313rem;

	@include mobile-screen {
		@include flex-container(row, center, center);
	}
}
